@import "reset";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    line-height: 1.5;
    font-family: "Epilogue", sans-serif;
    font-size: 14px;
    color: #232323;
  }
}

@layer components {
  .layout-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
  }
}
